name: release

concurrency:
  group: release-${{ github.head_ref }}
  cancel-in-progress: true

on:
  push:
    tags:
      - "*"

jobs:
  create:
    name: Create Release
    runs-on: ubuntu-latest
    container:
      image: wasmedge/wasmedge:ubuntu-build-gcc
    outputs:
      version: ${{ steps.prep.outputs.version }}
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Get version
        id: prep
        run: |
          git config --global --add safe.directory $(pwd)
          echo ::set-output name=version::$(git describe --tag)
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: WasmEdge-TensorFlow-Tools ${{ steps.prep.outputs.version }}
          body_path: .CurrentChangelog.md
          draft: true
          prerelease: true

  build_and_upload_manylinux:
    strategy:
      matrix:
        include:
          - name: manylinux2014 x86_64
            host_runner: ubuntu-latest
            docker_tag: manylinux2014_x86_64
            output_files: show-tflite-tensor wasmedge-tensorflow wasmedge-tensorflow-lite
          - name: manylinux2014 aarch64
            host_runner: ARM64
            docker_tag: manylinux2014_aarch64
            output_files: show-tflite-tensor wasmedge-tensorflow-lite
    name: ${{ matrix.name }} platform
    needs: create
    runs-on: ${{ matrix.host_runner }}
    container:
      image: wasmedge/wasmedge:${{ matrix.docker_tag }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Build ${{ matrix.name }} package
      run: |
        export PATH="/toolchain/bin:$PATH"
        export CC=gcc
        export CXX=g++
        export CPPFLAGS=-I/toolchain/include
        export LDFLAGS=-L/toolchain/lib64
        curl -s -L -O --remote-name-all https://boostorg.jfrog.io/artifactory/main/release/1.76.0/source/boost_1_76_0.tar.bz2
        echo "f0397ba6e982c4450f27bf32a2a83292aba035b827a5623a14636ea583318c41  boost_1_76_0.tar.bz2" | sha256sum -c
        bzip2 -dc boost_1_76_0.tar.bz2 | tar -xf -
        if ! cmake -Bbuild -GNinja -DCMAKE_BUILD_TYPE=Release -DBoost_NO_SYSTEM_PATHS=TRUE -DBOOST_INCLUDEDIR=$(pwd)/boost_1_76_0/; then
            echo === CMakeOutput.log ===
            cat build/CMakeFiles/CMakeOutput.log
            echo === CMakeError.log ===
            cat build/CMakeFiles/CMakeError.log
            exit 1
        fi
        cmake --build build
        cd build/tools
        tar -zcvf WasmEdge-tf-tools.tar.gz ${{ matrix.output_files }}
        tar Jcvf WasmEdge-tf-tools.tar.xz ${{ matrix.output_files }}
        cd ../..
        mv build/tools/WasmEdge-tf-tools.tar.gz WasmEdge-tf-tools.tar.gz
        mv build/tools/WasmEdge-tf-tools.tar.xz WasmEdge-tf-tools.tar.xz
        ls -alF
    - name: Upload ${{ matrix.name }} tar.gz package
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.create.outputs.upload_url }}
        asset_path: WasmEdge-tf-tools.tar.gz
        asset_name: WasmEdge-tensorflow-tools-${{ needs.create.outputs.version }}-${{ matrix.docker_tag }}.tar.gz
        asset_content_type: application/x-gzip
    - name: Upload ${{ matrix.name }} tar.xz package
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.create.outputs.upload_url }}
        asset_path: WasmEdge-tf-tools.tar.xz
        asset_name: WasmEdge-tensorflow-tools-${{ needs.create.outputs.version }}-${{ matrix.docker_tag }}.tar.xz
        asset_content_type: application/x-xz

  build_darwin_x86_64:
    name: Darwin x86_64 platform
    runs-on: macos-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Build WasmEdge-tensorflow-tools for Darwin x86_64
      run: |
        brew install llvm ninja boost cmake
        export PATH="/usr/local/opt/llvm/bin:$PATH"
        export LDFLAGS="-L/usr/local/opt/llvm/lib -Wl,-rpath,/usr/local/opt/llvm/lib"
        export CPPFLAGS="-I/usr/local/opt/llvm/include"
        export CC=clang
        export CXX=clang++
        if ! cmake -Bbuild -GNinja -DCMAKE_BUILD_TYPE=Release -DWASMEDGE_BUILD_AOT_RUNTIME=OFF; then
            echo === CMakeOutput.log ===
            cat build/CMakeFiles/CMakeOutput.log
            echo === CMakeError.log ===
            cat build/CMakeFiles/CMakeError.log
            exit 1
        fi
        cmake --build build
        cd build/tools
        tar -zcvf WasmEdge-tf-tools.tar.gz show-tflite-tensor wasmedge-tensorflow wasmedge-tensorflow-lite
        cd ../..
        mv build/tools/WasmEdge-tf-tools.tar.gz WasmEdge-tf-tools.tar.gz
        ls -alF
    - name: Upload darwin x86_64 tar.gz package
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.create.outputs.upload_url }}
        asset_path: WasmEdge-tf-tools.tar.gz
        asset_name: WasmEdge-tensorflow-tools-${{ needs.create.outputs.version }}-darwin_x86_64.tar.gz
        asset_content_type: application/x-gzip

  build_and_upload_android:
    name: Android platforms
    needs: create
    runs-on: ubuntu-latest
    container:
      image: wasmedge/wasmedge:latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Install dependency
      run: |
        apt update && apt install -y unzip
        apt remove -y cmake
        curl -sLO https://github.com/Kitware/CMake/releases/download/v3.22.2/cmake-3.22.2-linux-x86_64.tar.gz
        tar -zxf cmake-3.22.2-linux-x86_64.tar.gz
        cp -r cmake-3.22.2-linux-x86_64/bin /usr/local
        cp -r cmake-3.22.2-linux-x86_64/share /usr/local
        curl -sLO https://dl.google.com/android/repository/android-ndk-r23b-linux.zip
        unzip -q android-ndk-r23b-linux.zip
    - name: Build WasmEdge-tensorflow-tools for Android
      run: |
        export ANDROID_NDK_HOME=$(pwd)/android-ndk-r23b/
        if ! cmake -Bbuild -GNinja -DCMAKE_BUILD_TYPE=Release -DWASMEDGE_BUILD_AOT_RUNTIME=OFF -DCMAKE_SYSTEM_NAME=Android -DCMAKE_SYSTEM_VERSION=23 -DCMAKE_ANDROID_ARCH_ABI=arm64-v8a -DCMAKE_ANDROID_NDK=$ANDROID_NDK_HOME -DCMAKE_ANDROID_STL_TYPE=c++_static; then
            echo === CMakeOutput.log ===
            cat build/CMakeFiles/CMakeOutput.log
            echo === CMakeError.log ===
            cat build/CMakeFiles/CMakeError.log
            exit 1
        fi
        cmake --build build
        cd build/tools
        tar -zcvf WasmEdge-tf-tools.tar.gz show-tflite-tensor wasmedge-tensorflow-lite
        cd ../..
        mv build/tools/WasmEdge-tf-tools.tar.gz WasmEdge-tf-tools.tar.gz
        ls -alF
    - name: Upload android aarch64 tar.gz package
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.create.outputs.upload_url }}
        asset_path: WasmEdge-tf-tools.tar.gz
        asset_name: WasmEdge-tensorflow-tools-${{ needs.create.outputs.version }}-android_aarch64.tar.gz
        asset_content_type: application/x-gzip
